<form class="form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Agency</mat-label>
    <input
      matInput
      type="number"
      placeholder="Agency"
      formControlName="agency"
      min="1"
      max="999"
      maxlength="3"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Account</mat-label>
    <input
      type="number"
      matNativeControl
      placeholder="Account"
      formControlName="account"
      min="1"
      max="999"
      maxlength="3"
    />
  </mat-form-field>
</form>

<mat-divider></mat-divider>

<section>
  <div class="row">
    <button mat-raised-button (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)="next()">Next</button>
  </div>
</section>
